# Dependencies
node_modules/
./node_modules/
client/node_modules/
server/node_modules/
package-lock.json

# Environment variables (pour plus tard)
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
server/config/db.js
